apiVersion: k3d.io/v1alpha5 
kind: Simple 
metadata:
  name: captain
servers: 1
agents: 6
kubeAPI: # same as `--api-port myhost.my.domain:6443` (where the name would resolve to 127.0.0.1)
  host: "127.0.0.1" # important for the `server` setting in the kubeconfig
  hostIP: "127.0.0.1" # where the Kubernetes API will be listening on
  hostPort: "6443" # where the Kubernetes API listening port will be mapped to on your host system
image: dockerhub.repo.gpkg.io/rancher/k3s:v1.32.10-k3s1@sha256:0ccc2aec930ef9cecae69e097260159de27b3d2264b25ea41c9d6c9dee628965
env:
  - envVar: K3S_DEBUG=true
    nodeFilters:
      - server:*
options:
  k3d:
    disableLoadbalancer: true
  k3s:
    extraArgs:
      - arg: --disable=cloud-controller
        nodeFilters:
          - server:*
      - arg: --disable=helm-controller
        nodeFilters:
          - server:*
      - arg: --disable=traefik
        nodeFilters:
          - server:*
      - arg: --disable=servicelb
        nodeFilters:
          - server:*
    nodeLabels:
      - label: glueops.dev/role=glueops-platform 
        nodeFilters:
          - agent:1,2,3
      - label: glueops.dev/role=glueops-platform-argocd-app-controller
        nodeFilters:
          - agent:4
